extends layout

block content
  div.container
    h1 RDFa - Parser
    p Please enter
    ul
      li a URL ("http://...")
      li a file path ("file://...")
      li or plain html ("&lt; ... &gt;")

  div.container
    //input.span3(id="url", type="text", name="URL", placeholder="Enter URL to parse")
    div.form-group
      textarea#inputField.form-control.animated(name="input", rows="12")
        |<div vocab="http://rdf.data-vocabulary.org/#" typeof="Review">
        |   <span property="itemreviewed">L’Amourita Pizza</span>
        |   Reviewed by
        |   <span property="reviewer">Ulysses Grant</span> on
        |   <span property="dtreviewed" content="2009-01-06">Jan 6</span>.
        |   <span property="summary">Delicious, tasty pizza on Eastlake!</span>
        |   <span property="description">L'Amourita serves up traditional wood-fired
        |   Neapolitan-style pizza, brought to your table promptly and without fuss.
        |   An ideal neighborhood pizza joint.</span>
        |   Rating:
        |   <span property="rating">4.5</span>
        |</div>
    div.form-group
      a.submitButton.btn.btn-info.pull-right(type="submit") Submit (Ctrl + Return)
  p &nbsp;

  div.container
    pre#outputField enter something ^^^^ - above - ^^^^ to get some OUTPUT..

  div.footer
